<header>
    <div class="navbar bg-primary shadow-sm">
        <fa-icon [icon]="faBook" class="faBook" style="font-size: 20px; padding: 5px;"></fa-icon>
   <button class="btn btn-primary" style="font-size: 20px; padding: 5px; position: absolute; left: 50px;" (click)="openhome()">BOOKS
   </button>
   
   <button class="btn btn-primary" (click)="openCart()">
    <fa-icon [icon]="faCartShopping" style="font-size: 20px; padding: 5px;"></fa-icon>
    <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
   </button>
    </div>
</header>
